# ignore .git related folders
.git/
.github/
.gitignore
# ignore docs
docs/
# copy in licenses folder to the container
!docs/licenses/
# ignore logs
**/logs/
**/runs/
**/output/*
**/outputs/*
**/videos/*
*.tmp
# ignore docker
docker/cluster/exports/
docker/.container.cfg
# ignore recordings
recordings/
# ignore __pycache__
**/__pycache__/
**/*.egg-info/
# ignore isaac sim symlink
_isaac_sim?
# Docker history
docker/.isaac-lab-docker-history
# checkpoints
source/serl-flow/chkpts
*.pt
source/serl-flow/
source/recorded_runs/
source/gr1t2
source/source
source/p-diff-exp
source/online_videos
source/calvin
source/inverse_flow
source/logs
