.git
**/.git
**/.git/**
**/*.pt
**/*.pkl
**/*.zarr
**/dataset
**/dataset/**
dino_dataset
chkpts
source/recorded_runs
source/p-diff-exp
source/online_videos
source/chkpts
source/couple-flow-policy
source/logs
source/droid
